body {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    }

.header_one{
  position: fixed;
  top: 0px;
}
.header_one{
    background: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.dropdown-menu{
  z-index: 100;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.075);

}
main{
  margin-top: 56px;
}
.ava{
  color: white;
  scale: 1.1;
}
.badge{
  background: linear-gradient(90deg,#ff5c4d,#eb469f 26.56%,#8341ef 75%,#3f68f9);
}
.footer_one{
  display: none;
}
.pashalka_one{
  display: none;
}
.pashalka_one_before{
}
.pashalka_two{
  display: none;
}
.pashalka_two_before{
  display: none;
}

@media(min-width:900px){
  .header_two, .navbar_po, .di, .otmena, .navbar_str{
    display: none;
  }
}
@media(max-width:926px){
  body{
    background-image: url("2.jpg");
    background-size: 120%;
  }
}
@media(max-width:926px){
  .di{
    display: inline;
  }
  .znachoc{
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 17px;
  }
  .header_one{
    display: none;
  }
  .header_two{
    top: 0px;
    position: fixed;
    display: inline;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.075);
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 1000000000000000000000000;
    left: 0px;
    right: 0px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    transition: 0.3s;
  }
  .header_two_before{
    top: -50px;
    transition: 0.3;
  }
  .navbar_po{
    width: 50px;
    display: inline;
    z-index: 1000000000000000000;
    position: relative;
  }
  .navbar_str{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.589);    top: -100%;
    transition: 0.3s;
    top: 0%;
    right: -100%;

  }
  .posl{
    top: -50px;
    transition: 0.3s;
  }
  .do{
    right: 0%;
    transition: 0.3s;
  }
  .otmena{
    position: fixed;
    top: 10px;
    right: -60px;
    width: 50px;
    z-index: 100000000000000000000000;
    transition: 0.3s;
    transform: rotate(0deg);
  }
  .otmena_post{
    right: 10px;
    transition: 0.3s;
    transform: rotate(-180deg);
  }
  .tirle_mobil{
    font-size: 25px;
    margin-top: 10px;
  }
  .tirle_mobil:hover{
    text-decoration: underline;
  }
  .img_footer{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 0px;
    margin: 10px;
  }
  .pashalka_one{
    top: -30px;
    position: fixed;
    left: -10%;
    width: 90px;
    transform: rotate(90deg);
    z-index: 100000000000000000000000000000;
    transition: 0.3s;
    display: inline;
  }
  .pashalka_one_before{
    left: -100%;
    display: inline;
  }
  .pashalka_two{
    bottom: -10%;
    position: fixed;
    width: 90px;
    z-index: 100000000000000000000000000000;
    transition: 0.3s;
    display: inline;
  }
  .pashalka_two_before{
    bottom: -100%;
    display: inline;
  }
  
}